h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;

  > input {
    padding: 3px;
    border: none;
    border-bottom: 1px solid black;
    font-size: larger;
  }
  > button {
    background-color: blue;
    color: white;
    border-radius: 7px;
    border: none;
    padding: 5px 30px;
    font-size: larger;
    margin-left: 10px;

    &:hover {
      background-color: rgba(0, 0, 255, 0.336);
    }
  }
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  > .video-container {

    width: 1080px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;

    > video {
        width: 100%;
    }
  }
}
